---
import { getCollection, type CollectionEntry } from "astro:content";
import BaseLayout from "../../../layouts/BaseLayout.astro";

import { __ } from "../../../utils/i18n";
import Footer from "../../../components/Footer.astro";
import TagList from "../../../components/TagList.astro";
import HeaderTitle from "../../../components/HeaderTitle.astro";
import ArchiveList from "../../../components/ArchiveList.astro";
import { BASE_URL } from "../../../utils/config";

export async function getStaticPaths({ paginate }: { paginate: Function }) {
  const posts = await getCollection("blog");
  const tagsMap: Map<string, CollectionEntry<"blog">[]> = new Map();
  posts.forEach((post) => {
    if (Array.isArray(post.data.tags)) {
      post.data.tags.forEach((tag) => {
        if (tagsMap.has(tag)) {
          tagsMap.get(tag)!.push(post);
        } else {
          tagsMap.set(tag, [post]);
        }
      });
    }
  });
  const tags = [...tagsMap.keys()];
  return [...tagsMap.entries()]
    .map((tagMap) => {
      tagMap[1].sort((a, b) => {
        return b.data.pubDate.getTime() - a.data.pubDate.getTime();
      });
      return tagMap;
    })
    .flatMap((tagMap) => {
      return paginate(tagMap[1], {
        params: { tag: tagMap[0] },
        props: { tags },
        pageSize: 5,
      });
    });
}

type Props = {
  page: {
    data: CollectionEntry<"blog">[];
    url: {
      prev: string;
      next: string;
    };
    currentPage: number;
    lastPage: number;
  };
  tags: string[];
};

const { page, tags } = Astro.props;
const { tag } = Astro.params;
---

<BaseLayout title={`${__("tag")}: ${tag}`}>
  <!-- Header -->
  <HeaderTitle
    title={`${__("tag")}: ${tag}`}
    url=`${BASE_URL}/tags/${tag}`
    slot="header"
  />
  <!-- Content -->
  <div class="archives-outer-wrap" data-aos="fade-up">
    <TagList tags={[...tags]} />
    <ArchiveList page={page} type="archives" />
  </div>
  <!-- Footer -->
  <Footer slot="footer" />
</BaseLayout>

<style>
  .archives-outer-wrap {
    background: var(--color-wrap);
    border-radius: 5px;
    padding: 15px 0;
    width: calc(100% - 20px);
    margin: 0 auto;
  }
</style>
