---
import { getCollection, type CollectionEntry } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { __ } from "../../utils/i18n";
import Footer from "../../components/Footer.astro";
import TagList from "../../components/TagList.astro";
import ArchiveList from "../../components/ArchiveList.astro";
import Pagination from "../../components/Pagination.astro";
import HeaderTitle from "../../components/HeaderTitle.astro";
import { BASE_URL } from "../../utils/config";

export async function getStaticPaths({ paginate }: { paginate: Function }) {
  const posts = await getCollection("blog");
  posts.sort((a, b) => {
    return b.data.pubDate.getTime() - a.data.pubDate.getTime();
  });
  return paginate(posts, {
    pageSize: 10,
  });
}

type Props = {
  page: {
    data: CollectionEntry<"blog">[];
    url: {
      prev: string;
      next: string;
    };
    currentPage: number;
    lastPage: number;
  };
};

const { page } = Astro.props;
// group by year
const postsByYear: Map<number, CollectionEntry<"blog">[]> = new Map();
page.data.forEach((post) => {
  const year = post.data.pubDate.getFullYear();
  if (postsByYear.has(year)) {
    postsByYear.get(year)!.push(post);
  } else {
    postsByYear.set(year, [post]);
  }
});

const posts = await getCollection("blog");
const tags = new Set<string>();
posts.forEach((post) => {
  if (Array.isArray(post.data.tags)) {
    post.data.tags.forEach((tag) => {
      tags.add(tag);
    });
  }
});
---

<BaseLayout title={__("archive_a")}>
  <!-- Header -->
  <HeaderTitle title={__("archive_a")} url=`${BASE_URL}/archives` slot="header" />
  <!-- Content -->
  <div class="archives-outer-wrap" data-aos="fade-up">
    <TagList tags={[...tags]} />
    <ArchiveList page={page} type="archives" />
  </div>
  <Pagination
    prevUrl={page.url.prev}
    nextUrl={page.url.next}
    currentPage={page.currentPage}
    lastPage={page.lastPage}
    url="/archives"
  />
  <!-- Footer -->
  <Footer slot="footer" />
</BaseLayout>

<style>
  .archives-outer-wrap {
    background: var(--color-wrap);
    border-radius: 5px;
    padding: 15px 0;
    width: calc(100% - 20px);
    margin: 0 auto;
  }
</style>
