---
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import { Icon } from "astro-icon/components";
import BaseLayout from "../layouts/BaseLayout.astro";
import { SITE, BASE_URL } from "../utils/config";
import randomCover from "../utils/randomCover";
import { _p } from "../utils/i18n";
import { wordCount, readingTime } from "../utils/wordCount";
import Footer from "../components/Footer.astro";
import Pagination from "../components/Pagination.astro";
import HeaderTitle from "../components/HeaderTitle.astro";
import HeaderSubTitle from "../components/HeaderSubTitle.astro";

type Props = {
  page: {
    data: CollectionEntry<"blog">[];
    url: {
      prev: string;
      next: string;
    };
    currentPage: number;
    lastPage: number;
  };
};

export async function getStaticPaths({ paginate }: { paginate: Function }) {
  const posts = await getCollection("blog");
  return paginate(posts, {
    pageSize: 10,
  });
}
const { page } = Astro.props;
---

<BaseLayout>
  <!-- Header -->
  <HeaderTitle title={SITE.title} url=`${BASE_URL}/` slot="header" />
  {
    SITE.subtitle && (
      <HeaderSubTitle
        subtitle={SITE.subtitle}
        url={`${BASE_URL}/`}
        slot="header"
      />
    )
  }
  <!-- Content -->
  {
    page.data.map((post, index) => (
      <div
        class:list={["post-wrap", { right: index % 2 === 1 }]}
        data-aos="fade-up"
      >
        <a
          class="post-link"
          href={`${BASE_URL}/blog/${post.slug}`}
          aria-label={post.slug}
        />
        <div class:list={["post-cover", { right: index % 2 === 1 }]}>
          {post.data.cover ? (
            <img
              class="lazyload"
              data-sizes="auto"
              data-src={post.data.cover}
              alt={post.data.title}
            />
          ) : (
            <img
              class="lazyload"
              data-sizes="auto"
              data-src={randomCover()}
              alt={post.data.title}
            />
          )}
        </div>
        <div class="post-info">
          <div class="post-meta">
            <span>
              <Icon name="fa6-solid:calendar" size={15} />
              &nbsp;
              {post.data.pubDate.toLocaleDateString().replace(/\//g, "-")}
            </span>
            <span>
              <Icon name="fa6-solid:pen-nib" size={15} />
              &nbsp;
              {_p("post.count", wordCount(post.body))}
            </span>
            <span>
              <Icon name="fa6-solid:hourglass-half" size={15} />
              &nbsp;
              {_p("post.time", readingTime(post.body))}
            </span>
          </div>
          <h2 class="post-title">{post.data.title}</h2>
          <article class="post-article">
            {post.data.excerpt ? (
              <p>{post.data.excerpt}</p>
            ) : (
              <p>{post.body.slice(0, 300)}</p>
            )}
          </article>
        </div>
      </div>
    ))
  }
  <Pagination
    prevUrl={page.url.prev}
    nextUrl={page.url.next}
    currentPage={page.currentPage}
    lastPage={page.lastPage}
  />
  <!-- Footer -->
  <Footer slot="footer" />
</BaseLayout>

<style lang="stylus">
  .post-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .post-wrap {
    width: calc(100% - 20px);
    height: 230px;
    margin: 0 auto 40px;
    position: relative;
    border-radius: 5px;
    background: var(--color-wrap);
    display: flex;
    flex-direction: row;
    transition: 0.3s;

    @media screen and (min-width: 768px) {
      &:hover {
        transform: scale(1.015) !important;

        &:before {
          opacity: 0.8;
        }

        img {
          transition: 0.3s;
          transform: scale(1.05);
        }
      }

      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 5px;
        box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);
        opacity: 0;
        transition: 0.3s;
      }
    }

    &.right {
      flex-direction: row-reverse;
    }

    @media screen and (max-width: 767px) {
      flex-direction: column;
      height: 400px;
      &.right {
        flex-direction: column;
      }
    }
  }

  .post-info {
    height: 100%;
    width: 100%;
    padding: 20px;
    overflow: hidden;
    box-sizing: border-box;
  }

  .post-meta {
    display: flex;
    justify-content: flex-end;
    margin: 5px 0;

    span {
      font-size: 14px;
      color: var(--grey-7);
      margin: 0 8px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      display: flex;
      align-items: center;
    }

    a:before,
    span:before {
      margin: 0 10px;
    }
  }

  .post-article {
    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    line-height: 30px;
    font-size: 15px;
    color: var(--grey-7);

    a {
      color: var(--color-link);
    }
  }

  .post-cover {
    width: 40%;
    position: relative;
    overflow: hidden;
    min-height: 95px;
    background-color: var(--color-wrap);
    flex-shrink: 0;
    pointer-events: none;

    @media screen and (max-width: 767px) {
      width: 100%;
      height: 45%;
    }

    @media screen and (min-width: 768px) {
      border-radius: 5px 0 0 5px;
      -webkit-clip-path: polygon(0 0, 92% 0%, 100% 100%, 0% 100%);
      clip-path: polygon(0 0, 92% 0%, 100% 100%, 0% 100%);

      &.right {
        border-radius: 0 5px 5px 0;
        -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 8% 100%);
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 8% 100%);
      }
    }

    @media screen and (max-width: 767px) {
      border-radius: 5px 5px 0 0;

      &.right {
        border-radius: 5px 5px 0 0;
      }
    }

    img {
      display: block;
      transition: 0.2s;
      position: absolute;
      left: 0;
      top: 0;
      object-fit: cover;
      width: 100%;
      height: 100%;
      opacity: 0;
    }

    img.lazyloaded {
      opacity: 1;
      animation: blur 0.8s ease forwards;
    }
  }

  .post-title {
    padding: 20px 0;
    color: var(--color-link);
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 0 1px rgba(0, 0, 0, 0.2);
    letter-spacing: 1px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
</style>
