---
import { type CollectionEntry } from "astro:content";
import { BASE_URL } from "../utils/config";

type Props = {
  page: {
    data: CollectionEntry<"blog">[];
    url: {
      prev: string;
      next: string;
    };
    currentPage: number;
    lastPage: number;
  };
  type: "archives" | "tags";
};

const { page } = Astro.props;
const posts = page.data;
posts.sort((a, b) => {
  return b.data.pubDate.getTime() - a.data.pubDate.getTime();
});

// group by year
const postsByYear: Map<number, CollectionEntry<"blog">[]> = new Map();
posts.forEach((post) => {
  const year = post.data.pubDate.getFullYear();
  if (postsByYear.has(year)) {
    postsByYear.get(year)!.push(post);
  } else {
    postsByYear.set(year, [post]);
  }
});
---

{
  [...postsByYear.entries()].map(([year, posts]) => {
    return (
      <section class="archives-wrap" data-aos="fade-up">
        <div class="archive-year-wrap">
          <span class="archive-year">{year}</span>
        </div>
        <div class="archives">
          <ul>
            {posts.map((post) => {
              return (
                <li class="archive-article">
                  <div class="archive-article-date-wrap">
                    <a href={`${BASE_URL}/blog/${post.slug}`}>
                      <time
                        class="dt-published"
                        datetime={post.data.pubDate.toISOString()}
                        itemprop="datePublished"
                      >
                        {post.data.pubDate
                          .toLocaleDateString()
                          .replace(/\//g, "-")}
                      </time>
                    </a>
                  </div>
                  <div class="archive-article-title-wrap">
                    <a
                      class="archive-article-title"
                      href={`${BASE_URL}/blog/${post.slug}`}
                    >
                      {post.data.title}
                    </a>
                  </div>
                </li>
              );
            })}
          </ul>
        </div>
      </section>
    );
  })
}

<style lang="stylus">
  .archives-wrap {
    padding: 20px 50px;
  }

  .archive-year-wrap {
    margin-bottom: 2em;
    position: relative;

    &:before {
      content: "";
      width: 100%;
      border-bottom: 1px solid var(--color-h2-border);
      position: absolute;
      bottom: -15px;
      box-sizing: unset;
      transition: 1s;
    }

    &:after {
      transition: 0.3s;
      content: "";
      position: absolute;
      background: var(--color-h2-after);
      width: 1em;
      height: 7px;
      bottom: -18px;
      left: 0;
      border-radius: 10px;
      box-shadow: 0 2px 12px var(--color-red-6-shadow);
    }

    &:hover:after {
      width: 3em;
    }
  }

  .archive-year {
    text-transform: uppercase;

    color: var(--color-archive-year);
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 25px;
  }

  .archives {
    list-style: none;
  }

  .archive-article {
    padding: 15px 0;
    padding-left: 25px;
    position: relative;
    display: flex;
    align-items: center;

    &:before {
      flex-shrink: 0;
      content: "";
      width: 6px;
      height: 15px;
      background: var(--color-h2-after);
      display: inline-block;
      vertical-align: middle;
      margin-top: -2px;
      margin-right: 11px;
      margin-left: -25px;
      box-shadow: 0 2px 12px var(--color-red-6-shadow);
      opacity: 0.5;
      transition: 0.2s;
    }

    &:hover {
      &:before {
        width: 6px;
        height: 6px;
        border-radius: 50%;
        opacity: 1;
        transition: 0.2s;
      }

      .archive-article-title {
        transition: 0.3s;
        opacity: 1;
      }
    }
  }

  .archive-article-date-wrap {
    flex-shrink: 0;

    a {
      text-decoration: none;
    }
  }
  .dt-published {
    color: var(--grey-9);
    margin-left: 5px;
  }

  .archive-article-title {
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    color: var(--red-0);
    transition: 0.3s;
    opacity: 0.6;
    margin-left: 15px;
  }
</style>
