---
import { __ } from "../utils/i18n";
import { BASE_URL } from "../utils/config";

type Props = {
  prevUrl: string | null;
  nextUrl: string | null;
  currentPage: number;
  lastPage: number;
  url?: string;
};

const { prevUrl, nextUrl, currentPage, lastPage, url = "" } = Astro.props;
const lowerBound = currentPage - 2 > 0 ? currentPage - 2 : 1;
const upperBound = currentPage + 2 < lastPage ? currentPage + 2 : lastPage;
---

<nav id="page-nav" data-aos="fade-up">
  {
    prevUrl && (
      <a href={`${BASE_URL}${prevUrl}`} class="extend prev" rel="prev">
        {"« " + __("prev")}
      </a>
    )
  }
  {
    lowerBound > 1 && (
      <a href={`${BASE_URL}${url}/`} class="page-number">
        1
      </a>
    )
  }
  {lowerBound > 2 && <span class="space">…</span>}
  {
    Array.from(
      { length: upperBound - lowerBound + 1 },
      (_, index) => index + lowerBound
    ).map((page) => (
      <a
        href={page > 1 ? `${BASE_URL}${url}/${page}` : `${BASE_URL}${url}/`}
        class={`page-number ${page === currentPage ? "current" : ""}`}
      >
        {page}
      </a>
    ))
  }
  {upperBound < lastPage - 1 && <span class="space">…</span>}
  {
    upperBound < lastPage && (
      <a href={`${BASE_URL}${url}/${lastPage}`} class="page-number">
        {lastPage}
      </a>
    )
  }
  {
    nextUrl && (
      <a href={`${BASE_URL}${nextUrl}`} class="extend next" rel="next">
        {__("next") + " »"}
      </a>
    )
  }
</nav>

<style lang="stylus">
  #page-nav {
    margin: 36px auto;
    background: var(--color-wrap);
    border-radius: 12px;
    text-align: center;
    color: var(--grey-9);
    overflow: hidden;
    transition: 1s;

    &:hover {
      box-shadow: var(--shadow-card);
    }

    a,
    span {
      padding: 10px 16px;
    }

    a {
      color: var(--grey-9);
      text-decoration: none;
      transition: 0.2s;

      &:hover {
        background: var(--red-2);
        box-shadow: var(--shadow-red-6-shadow);
        color: #fff;
      }
    }

    .prev {
      float: left;
      padding: 16px;
    }

    .next {
      float: right;
      padding: 16px;
    }

    .page-number {
      display: inline-block;
      border-radius: 8px;
      margin: 6px;

      @media screen and (max-width: 479px) {
        display: none;
      }
    }

    .current {
      background: var(--red-1);
      color: #fff;
      font-weight: bold;
      box-shadow: var(--shadow-red-6-shadow);

      @media screen and (max-width: 479px) {
        display: inline-block;
      }
    }

    .space {
      display: inline-block;
      margin: 6px;
      color: var(--color-border);

      @media screen and (max-width: 479px) {
        display: none;
      }
    }
  }
</style>
