---
import type { CollectionEntry } from "astro:content";
import dayjs from "dayjs";
import { Icon } from "astro-icon/components";
import { COPYRIGHT, SITE, BASE_URL } from "../../utils/config";

const { content, enable } = COPYRIGHT;
const { author, link, title, date, updated, license } = content;

type Props = {
  post: CollectionEntry<"blog">["data"];
  url: string;
};

const { post, url } = Astro.props;
---

{
  enable && (
    <blockquote class="article-copyright">
      {author && (
        <p>
          <strong>本文作者：</strong>
          {SITE.author} @ {SITE.title}
        </p>
      )}
      {link && (
        <p>
          <strong>本文链接：</strong>
          <a
            href={`${SITE.url}${BASE_URL}${url}/`}
          >{`${SITE.url}${BASE_URL}${url}/`}</a>
        </p>
      )}
      {title && (
        <p>
          <strong>本文标题：</strong>
          {post.title}
        </p>
      )}
      {date && (
        <p>
          <strong>本文发布时间：</strong>
          {dayjs(post.pubDate).format("YYYY-MM-DD HH:mm:ss")}
        </p>
      )}
      {updated && (
        <p>
          <strong>本文修改时间：</strong>
          {dayjs(post.updatedDate).format("YYYY-MM-DD HH:mm:ss")}
        </p>
      )}
      {license && (
        <p>
          <strong>本文版权：</strong>本博客所有文章除特别声明外，均采用{" "}
          <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.zh" rel="noopener external nofollow noreferrer" target="_blank">
            <Icon name="fa6-brands:creative-commons" />
            BY-NC-SA
          </a>{" "}
          许可协议。转载请注明出处！
        </p>
        <Icon class="article-copyright-bg" name="fa6-brands:creative-commons" />
      )}
    </blockquote>
  )
}

<style lang="stylus">
  .article-copyright {
    background: var(--red-5-5);
    border-left: 6px var(--red-4) solid;
    margin: 1.8em 35px 0;
    
    border-radius: 5px;
    transition: all .3s ease;
    padding: 5px 10px;

    box-shadow: 0 0 5px 2px var(--color-meta-shadow);
    position: relative;
    overflow: hidden;
    word-break: break-all;

    p {
      font-size: 14px;
      line-height: 2;
      color: var(--color-default);

      strong {
        font-weight: 700;
      }
    }

    a {
      color: var(--color-default);
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .article-copyright-bg {
    font-size: 120px;
    color: var(--red-3);
    opacity: .2;
    position: absolute;
    right: -15px;
    bottom: -40px;
  }
</style>
