---
import type { CollectionEntry } from "astro:content";
import randomCover from "../../utils/randomCover";
import { __ } from "../../utils/i18n";
import { BASE_URL } from "../../utils/config";

type Props = {
  prev: CollectionEntry<"blog"> | null;
  next: CollectionEntry<"blog"> | null;
};
const { prev, next } = Astro.props;
---

{
  (prev || next) && (
    <nav id="article-nav" class="wow fadeInUp">
      {prev && (
        <div class="article-nav-link-wrap article-nav-link-left">
          {prev.data.cover ? (
            <img
              class="lazyload"
              data-src={prev.data.cover}
              data-sizes="auto"
              alt={prev.data.title}
            />
          ) : (
            <img
              class="lazyload"
              data-src={randomCover()}
              data-sizes="auto"
              alt={prev.data.title}
            />
          )}
          <a href={`${BASE_URL}/blog/${prev.slug}`} aria-label="Previos Post" />
          <div class="article-nav-caption">{__("newer")}</div>
          <h3 class="article-nav-title">{prev.data.title || "(no title)"}</h3>
        </div>
      )}
      {next && (
        <div class="article-nav-link-wrap article-nav-link-right">
          {next.data.cover ? (
            <img
              class="lazyload"
              data-src={next.data.cover}
              data-sizes="auto"
              alt={next.data.title}
            />
          ) : (
            <img
              class="lazyload"
              data-src={randomCover()}
              data-sizes="auto"
              alt={next.data.title}
            />
          )}
          <a href={`${BASE_URL}/blog/${next.slug}`} aria-label="Next Post" />
          <div class="article-nav-caption">{__("older")}</div>
          <h3 class="article-nav-title">{next.data.title || "(no title)"}</h3>
        </div>
      )}
    </nav>
  )
}

<style lang="stylus">
  #article-nav {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    overflow: hidden;
    @media screen and (min-width: 768px) {
      flex-direction: row;
    }
  }

  .article-nav-link-wrap {
    background-color: var(--color-wrap);
    color: white;
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    opacity: 0.8;
    transition: opacity 0.3s;
    height: 150px;
    min-height: 150px;
    flex-shrink: 0;

    a,
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      filter: brightness(80%);
    }

    img {
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      object-fit: cover;
      width: 100%;
      height: 100%;
      z-index: -1;
    }

    &:hover {
      opacity: 0.99;
    }
  }

  .article-nav-link-right {
    align-items: flex-end;
    padding-right: 20px;
  }

  .article-nav-caption {
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 0.85em;
    font-weight: bold;
  }

  .article-nav-title {
    font-size: 1.2em;
    line-height: line-height;
    margin-top: 0.8em;
    text-shadow: 0 0.2rem 0.3rem rgba(0, 0, 0, 0.5);
  }
</style>
