---
import { Icon } from "astro-icon/components";
import { __ } from "../../utils/i18n";
import { VALINE, WALINE, BASE_URL } from "../../utils/config";

type Props = {
  url: string;
  title: string;
};

const { url, title } = Astro.props;
---

{
  VALINE.enable && VALINE.visitor && (
    <span
      id={`${BASE_URL}${url}/`}
      class="leancloud_visitors article-visitor-link"
      data-flag-title={title}
    >
      <Icon name="fa6-solid:book-open" />
      <span class="leancloud-visitors-count">0</span>
      <em class="post-meta-item-text">{__("reading")}</em>
    </span>
  )
}
{
  WALINE.enable && WALINE.pageview && (
    <span class="article-visitor-link">
      <Icon name="fa6-solid:book-open" style="margin-right: 10px;" />
      <span class="waline-pageview-count" data-path={`${BASE_URL}${url}/`}>
        0
      </span>
      <em class="post-meta-item-text">{__("reading")}</em>
    </span>
  )
}

<style>
  .article-visitor-link {
    color: var(--red-1);
    margin: 5px;
    font-size: 12px;
    background: var(--red-5);
    border-radius: 20px;
    padding: 8px 15px;
    flex-shrink: 0;
    align-self: flex-start;
    display: flex;
    align-items: center;
  }
</style>
