---
import "../styles/global.css";
import "@reimujs/aos/dist/aos.css";
import "baguettebox.js/dist/baguetteBox.min.css";

import { ClientRouter } from "astro:transitions";
import { SITE, BASE_URL } from "../utils/config";
import CommonMeta from "../components/partial/CommonMeta.astro";
import VendorFont from "../components/partial/VendorFont.astro";
import VendorScript from "../components/partial/VendorScript.astro";
import ThemeScript from "../components/partial/ThemeScript.astro";
import Header from "../components/Header.astro";
import AfterFooter from "../components/AfterFooter.astro";
import ToTop from "../components/ToTop";
import Loader from "../components/partial/Loader.astro";

type Props = {
  title?: string;
  description?: string;
  keywords?: string;
};

const { title = SITE.title, description = SITE.description, keywords = SITE.keywords } = Astro.props;
---

<!doctype html>
<html lang={SITE.language}>
  <head>
    <ThemeScript />
    <CommonMeta title={title} description={description} keywords={keywords} />
    <VendorFont />
    <style>
      main {
        position: relative;
        display: flex;
        padding-top: 8px;
        align-items: stretch;
        max-width: 1550px;
        margin: 0 auto;
        overflow: visible;
      }
    </style>
    <VendorScript />
    <ClientRouter />
  </head>
  <body>
    <Loader />
    <Header>
      <slot name="header" />
    </Header>
    <main><slot /></main>
    <slot name="footer" />
    <AfterFooter />
    <ToTop client:load url={BASE_URL} />
    <div id="mask" class="hide"></div>
  </body>
</html>
