---
import "../styles/global.css";
import "@reimujs/aos/dist/aos.css";

import { ClientRouter } from "astro:transitions";

import { SITE, BASE_URL, SIDEBAR } from "../utils/config";
import CommonMeta from "../components/partial/CommonMeta.astro";
import VendorScript from "../components/partial/VendorScript.astro";
import ThemeScript from "../components/partial/ThemeScript.astro";
import Header from "../components/Header.astro";
import AfterFooter from "../components/AfterFooter.astro";
import ToTop from "../components/partial/ToTop";
import Loader from "../components/partial/Loader.astro";
import Sidebar from "../components/Sidebar.astro";
import MobileNav from "../components/MobileNav.astro";
import SidebarScript from "../components/sidebar/SidebarScript.astro";

type Props = {
  title?: string;
  description?: string;
  cover?: string;
  keywords?: string | string[];
  isPost?: boolean;
  headings?: Array<{
    depth: number;
    slug: string;
    text: string;
  }>;
  toc?: boolean;
};

const {
  title = SITE.title,
  description = SITE.description,
  cover,
  keywords = SITE.keywords,
  isPost = false,
  headings = [],
  toc = true,
} = Astro.props;
---

<!doctype html>
<html lang={SITE.language}>
  <head>
    <ThemeScript />
    <CommonMeta title={title} description={description} keywords={keywords} />
    <style>
      main {
        position: relative;
        display: flex;
        padding-top: 8px;
        align-items: stretch;
        max-width: 1550px;
        margin: 0 auto;
        overflow: visible;
      }
    </style>
    <VendorScript />
    <ClientRouter />
  </head>
  <body>
    <Loader />
    <Header title={title} cover={cover}>
      <slot name="header" />
    </Header>

    <main
      class={SIDEBAR.position === "left"
        ? "sidebar-left"
        : SIDEBAR.position === "right"
          ? "sidebar-right"
          : ""}
    >
      {
        SIDEBAR.position === "left" && (
          <Sidebar isPost={isPost} headings={headings} toc={toc} />
        )
      }
      <slot />
      {
        SIDEBAR.position === "right" && (
          <Sidebar isPost={isPost} headings={headings} toc={toc} />
        )
      }
    </main>
    <slot name="footer" />
    <AfterFooter />
    <ToTop client:load url={BASE_URL} />
    <MobileNav isPost={isPost} headings={headings} toc={toc} />
    <div id="mask" class="hide"></div>
    <SidebarScript />
    <script>
      import { css } from "../assets/LXGWWenKaiScreen.ttf";
      document.body.style.fontFamily = css.family as string;
    </script>
  </body>
</html>
