---
import type { CollectionEntry } from "astro:content";
import { VALINE, WALINE } from "../utils/config";
import Tag from "../components/post/Tag.astro";
import Nav from "../components/post/Nav.astro";
import ReadingCount from "../components/post/ReadingCount.astro";
import MarkdownLayout from "./MarkdownLayout.astro";
import Copyright from "../components/post/Copyright.astro";

type Props = {
  post: CollectionEntry<"blog">["data"];
  url: string;
  nav?: {
    prev: CollectionEntry<"blog"> | null;
    next: CollectionEntry<"blog"> | null;
  };
};

const { nav, post, url } = Astro.props;

const { title, tags = [] } = post;
---

<MarkdownLayout frontmatter={post}>
  <slot />
  {
    (tags.length ||
      (VALINE.enable && VALINE.visitor) ||
      (WALINE.enable && WALINE.pageview)) && (
      <div class="article-footer-line"></div>
      <Copyright post={post} url={url} />
      <footer class="article-footer" slot="footer">
        <Tag tags={tags} />
        <ReadingCount url={url} title={title} />
      </footer>
    )
  }
  {nav && <Nav {...nav} slot="nav" />}
</MarkdownLayout>

<style>
  .article-footer-line {
    margin: 10px 35px 0;
    opacity: 0.3;
    height: 4px;
    background-image: linear-gradient(to right, var(--red-0) 50%, transparent 0%);
    background-size: 50px 4px;
    background-repeat: repeat-x;
    filter: drop-shadow(0px 0px 2px red);
  }
  .article-footer {
    font-size: 14px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 35px 20px;
  }
</style>
